.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  border-radius: 10px;
}

.toggleNewMessage {
  border-radius: 10px;
}
