.wrapper {
}

.menuToggle {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
}

.menu {
  position: absolute;

  top: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(#121212f7, #161616f7);
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgb(99, 99, 99);
  border-radius: 5px;
  z-index: 21;
  overflow: hidden;
  min-width: 170px;
  transition: all 0.3s ease;
  animation: 0.3s slide-right-to-left;
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.menu button {
  color: #f8f8f8;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
}

.menu button:hover {
  background-color: #555555;
}
