.author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.authorTile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.floatingUserCard {
  position: absolute;
  left: 100%;
  height: fit-content;
  z-index: 30;
}
