.pageContent {
  width: 90vw;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 2px;
  border-radius: 10px;
  width: 200px;
  background-color: #89ef00;
  height: fit-content;
  overflow: hidden;
}

.sidebarMenu h2 {
  color: black;
  font-size: 25px;
  margin: 0 auto;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  overflow: hidden;
}

.sidebarMenu button {
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(68, 68, 68);
  color: #ffffff;
  outline: none;
  transition: background-color 0.2s;
  height: 40px;

  font-weight: 600;
  border-radius: 0px;
  padding: 5px 10px;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sidebarMenu button:hover,
.sidebarMenu button.active {
  background-color: rgb(31, 31, 31);
}

.contentWrapper {
  flex-grow: 1;
  margin: 1rem;
  padding: 2px;
  border-radius: 10px;
  background-color: #89ef00;
  border-radius: 10px;
  overflow: hidden;
}

.contentWrapper h2 {
  color: black;
  font-size: 25px;
  width: fit-content;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.editForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.label {
  color: #ffffff;
  font-weight: bold;
}

.input {
  padding: 10px;
  font-size: 16px;
  background-color: #3c3c3c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
}

.submitForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(68, 68, 68);
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
