@import url("./font.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(13, 11, 11);
  color: aliceblue;
}

* {
  box-sizing: border-box;

  font-family: "Rajdhani", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: rgb(68, 68, 68);
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  font-family: "Rajdhani", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: rgb(31, 31, 31);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #363636;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b1b1b1;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: #89ef00;
}
